<!-- Optional additional links to insert for icons links -->
<a id='github-link'
   class="icon" title="GitHub" aria-label="GitHub Profile" href="https://www.github.com/danialramzan">
    {% include svg/github.svg %}
</a>
<a id='linkedin-link'
   class="icon" title="LinkedIn" aria-label="LinkedIn Profile" href="https://www.linkedin.com/in/danialramzan/">
    {% include svg/linkedin.svg %}
</a>
<a id='resume-link'
   class="icon" title="Resume" aria-label="My Resume" href="/resume/">
    {% include svg/resume.svg %}
</a>
