---
layout: default
---


{% capture markdown_content %}
<!--ENTER MARKDOWN CODE BELOW-->

![Headshot](assets/headshot.png){: style="float: right; margin-left: 20px; width: 450px;"}
## Hi, I'm Danial.

#### A third year math student at The University of British Columbia, in Vancouver, Canada.

I have experience using C/C++, CSS, Docker, Expo, HTML, Java, Node.JS, PostgreSQL, Python, R, Racket, React Native, TypeORM, Typescript, and Linux Based Systems.

Feel free to reach out at danialramzan@gmail.com for collaborations, opportunities, and more.

<!--ENTER MARKDOWN CODE ABOVE-->
{% endcapture %}



<div class="profile">
    {{ markdown_content | markdownify }}
</div>
